<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>

    <link rel="stylesheet" href=/css/pages/login.sign.css>
    <link rel="stylesheet" href=/css/buttons.css>
    <link rel="stylesheet" href=/css/forms.css>
</head>
<body>

<div class="parent_container">
    <div class="login-page">
        <div class="logo-comp">
            <label class="f1">Nexora</label>
        </div>

        <div class="auth-container login-window">
            <label class="logo">Nihongo Nexus</label>

            <form action="/login" method="POST" class="">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required value="user">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required minlength="6" value="123456">
                    <p>Пароль должен содержать минимум 6 символов</p>
                </div>
                <button type="submit" class="auth-btn">Login</button>
                <p>Нет аккаунта? <a href="#">Создать!</a></p>
            </form>
        </div>

        <div class="about-project">
            <label class="f5">Образовательный проект по изучению японского языка</label>
            <label class="f5">v 0.0.1</label>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>
