<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication | Nihongo Nexus</title>
    <link rel="stylesheet" href=/css/main-styles.css>
    <link rel="stylesheet" href=/css/font.css>
</head>
<body>
<div class="auth-container login-window">
    <label class="f1">Nihongo Nexus</label>
    <form action="/login" method="POST" class="">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="auth-btn">Login</button>
        <p>Don't have an account? <a href="#">Sign up</a></p>
    </form>
</div>
</body>
</html>
