<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/pages/star_system.css">
</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="parent_container">
    <div class="star_system_container">
        <div class="planet-container">
            <img src="/img/planet/planet-jungle-hand.png" alt="Planet 1" class="planet">
            <div class="">
                <h1 class="f3">Planet GigaChad</h1>
                <h1 class="f3">Исследовано: 7 локаций</h1><h1 class="f3">Разгадоно текстов: 13</h1>
                <a class="neon-btn" href="/explore">Перейти</a>
            </div>
            <div class="line"></div>
        </div>

        <div class="planet-container planet-locked">
            <img src="/img/planet/planet-jungle-hand.png" alt="Planet 1" class="planet">
            <div class="">
                <h1 class="f3">Planet GigaChad</h1>
                <h1 class="f3">Исследовано: 7 локаций</h1><h1 class="f3">Разгадоно текстов: 13</h1>
            </div>
            <div class="line"></div>
        </div>

        <div class="planet-container planet-locked">
            <img src="/img/planet/planet-jungle-hand.png" alt="Planet 1" class="planet">
            <div class="">
                <h1 class="f3">Planet GigaChad</h1>
                <h1 class="f3">Исследовано: 7 локаций</h1><h1 class="f3">Разгадоно текстов: 13</h1>
            </div>
            <div class="line"></div>
        </div>
    </div>

</div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
