<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>

    <link rel="stylesheet" href="/css/pages/galaxy.css">
</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="parent_container">

    <div class="explore-container">
        <div class="carousel-container">

            <div class="carousel-track">

                <div class="star-system">
                    <div class="system-zone">
                        <h1 class="f1"> ЗДЕСЬ СИСТЕМА </h1>
                    </div>
                    <div class="system-description">
                        <div class="system-description-info">
                            <h1 class="f1">Система БИ 2</h1>
                            <h3 class="f3">Очень крутая система ранжировани предктов новых созвездий немысленного
                                масштбаа потери безопсаности перед погибелью новых иероглифов при изучени татунхамоновских историй</h3>
                        </div>
                        <div class="system-description-state">
                            <p class="f3">Стата 1</p>
                            <p class="f3">Стата 2</p>
                            <p class="f3">Стата 3</p>
                        </div>
                        <div class="system-description-cmd">
                            <a href="explore">Отправиться</a>
                        </div>
                    </div>
                </div>

            </div>

            <button class="prev-btn background-img">&#10094;</button>
            <button class="next-btn background-img">&#10095;</button>
        </div>
    </div>


</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

    const track = document.querySelector('.carousel-track');
    const nextButton = document.querySelector('.next-btn');
    const prevButton = document.querySelector('.prev-btn');
    let currentSlide = 0;

    nextButton.addEventListener('click', () => {
        const totalSlides = document.querySelectorAll('.star-system').length;
        if (currentSlide < totalSlides - 1) {
            currentSlide++;
        } else {
            currentSlide = 0; // возвращаемся к первому слайду
        }
        updateCarousel();
    });

    prevButton.addEventListener('click', () => {
        const totalSlides = document.querySelectorAll('.star-system').length;
        if (currentSlide > 0) {
            currentSlide--;
        } else {
            currentSlide = totalSlides - 1; // перемещаемся на последний слайд
        }
        updateCarousel();
    });

    function updateCarousel() {
        track.style.transform = `translateX(-${currentSlide * 100}%)`;
    }


</script>

</body>
</html>
