<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>

    <link rel="stylesheet" href="/css/pages/galaxy.css">
</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="parent_container">

    <div class="star-systems-carousel">
        <div class="star-systems-wrapper">
            <div class="star-system" data-status="open">
                <img src="/img/system/system_test.png" alt="Star System 1" class="star-image">
                <div class="system-description">
                    <h2>Star System 1</h2>
                    <p>Description of Star System 1</p>
                </div>
            </div>
            <div class="star-system" data-status="locked">
                <img src="/img/system/system_test.png" alt="Star System 2" class="star-image">
                <h2>Star System 2</h2>
                <p>Description of Star System 2</p>
            </div>
            <div class="star-system" data-status="locked">
                <img src="/img/system/system_test.png" alt="Star System 3" class="star-image">
                <h2>Star System 2</h2>
                <p>Description of Star System 2</p>
            </div>
        </div>
        <button class="prev-btn" onclick="prevSystem()">&#10094;</button>
        <button class="next-btn" onclick="nextSystem()">&#10095;</button>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

    let currentIndex = 0;

    function showSystem(index) {
        const wrapper = document.querySelector('.star-systems-wrapper');
        const systems = document.querySelectorAll('.star-system');

        if (index >= systems.length) {
            currentIndex = systems.length - 1; // Блокируем переход за последнюю систему
        } else if (index < 0) {
            currentIndex = 0; // Блокируем переход за первую систему
        } else {
            currentIndex = index;
        }

        // Передвигаем враппер звездных систем
        wrapper.style.transform = `translateX(-${currentIndex * 100}%)`;

        // Проверяем, заблокирована ли система
        if (systems[currentIndex].dataset.status === "locked") {
            document.querySelector('.next-btn').disabled = true; // Блокируем кнопку "вперед"
        } else {
            document.querySelector('.next-btn').disabled = false; // Разблокируем кнопку
        }
    }

    function nextSystem() {
        showSystem(currentIndex + 1);
    }

    function prevSystem() {
        showSystem(currentIndex - 1);
    }

    // Инициализация: показываем первую систему
    showSystem(currentIndex);

</script>

</body>
</html>
