@font-face {
    font-family: 'Akris';
    src: url('/fonts/Akris.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Psy';
    src: url('/fonts/PsyType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
