* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Psy', sans-serif;
    background-image: url("/img/background/back_login_v0.0.1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    text-shadow:
            2px 1px 13px #007feb,
            -20px 8px 0px #1b4e7e,
            20px 16px 0px #183f6c,
            20px -17px 0px #628EBA;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    font-size: 1.2rem;
    color: #e5eaff;
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Akris';
}

.f1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    color: #ffffff;
    text-shadow: 2px 1px 13px #007feb, -20px 8px 0px #1b4e7e, 20px 16px 0px #183f6c, 20px -17px 0px #628EBA;
}

.f2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    color: #ffffff;
}

.f3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    color: #ffffff;
}

.f4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    color: #ffffff;
}

.f5 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Akris', sans-serif;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-: 4px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.auth-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.auth-btn:hover {
    background-color: #0056b3;
}

p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-window {
    background: rgb(24 41 61 / 35%);
    border: 1px solid rgb(134 198 211 / 32%);
    max-width: 500px;
    max-height: 700px;
    margin: 10px auto;
    box-shadow: 1px 20px 20px 3px rgb(2 57 79 / 77%);
    padding: 2rem;
    text-align: center;
    transition: 1s;
}

.login-window:hover {
    border: 1px solid rgb(134 198 211 / 56%);
    background: rgb(24 41 61 / 54%);
}

@keyframes borderGlow {
    0% {
        top: -100%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

.login-window input[type="text"],
.login-window input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(57, 91, 145, 0.5); /* Полупрозрачные текстовые поля */
    border: none;
    border-bottom: 2px solid #74B7D2;
    color: #BAADC1;
    font-size: 16px;
}

.login-window button {
    width: 100%;
    padding: 10px;
    background-color: #497ba44d;
    border: 1px solid #19527d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}

.login-window button:hover {
    background-color: #1e6e8dba;
    box-shadow: 0 0 10px 0px rgb(7 82 113);
}

.login-window h2 {
    color: #BAADC1;
    text-align: center;
}

.login-page {
    text-align: center;
}







