.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    transition: transform 0.8s ease-in-out;
    height: 80%;
    width: 80%;
    background: rgba(2, 62, 138, 0.51);
}

.star-system {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% auto;
}

.system-zone {
    border: 1px solid rgba(0, 0, 0, 0.42);
    display: flex;
}

.system-description {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    background: rgba(36, 68, 98, 0.68);
}


.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #51c2e794;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
    background-image: url("/img/icon/arrow_left.png");
}

.next-btn {
    right: 10px;
    background-image: url("/img/icon/arrow_right.png");
}

@media (max-width: 768px) {
    .star-systems-carousel {
        width: 100%;
    }

    .prev-btn, .next-btn {
        padding: 5px;
    }
}


