.login-window {
    background: rgb(24 41 61 / 35%);
    border: 1px solid rgb(134 198 211 / 32%);
    max-width: 500px;
    max-height: 700px;
    margin: 10px auto;
    box-shadow: 1px 20px 20px 3px rgb(2 57 79 / 77%);
    padding: 2rem;
    text-align: center;
    transition: 1s;
}

.login-window:hover {
    border: 1px solid rgb(134 198 211 / 56%);
    background: rgb(24 41 61 / 54%);
}

@keyframes borderGlow {
    0% {
        top: -100%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

.login-window input[type="text"],
.login-window input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(57, 91, 145, 0.5); /* Полупрозрачные текстовые поля */
    border: none;
    border-bottom: 2px solid #74B7D2;
    color: #BAADC1;
    font-size: 16px;
}

.login-window button {
    width: 100%;
    padding: 10px;
    background-color: #497ba44d;
    border: 1px solid #19527d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}

.login-window button:hover {
    background-color: #1e6e8dba;
    box-shadow: 0 0 10px 0px rgb(7 82 113);
}

.login-window h2 {
    color: #BAADC1;
    text-align: center;
}

.login-page {
    text-align: center;
}

input:valid:not(:placeholder-shown) {
    background-image: url("/img/icon/check-good.png");
}

input:invalid:not(:placeholder-shown) {
    border-color: #8e44ad;
    background-image: url("/img/icon/check-bad.png");
}

input:valid:not(:placeholder-shown), input:invalid:not(:placeholder-shown) {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

input:invalid:not(:placeholder-shown) + p {
    color: red;
}

input:invalid ~ button {
    cursor: not-allowed;
}

input[type="password"]:invalid:not(:placeholder-shown) + p {
    color: #e04f5f;
    visibility: visible;
    position: unset;
    font-size: larger;
    background-color: #192c42a8;
    padding: 2px;
    text-align: center;
}

form p  {
    visibility: hidden;
    position: absolute;
}